<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../web/components/webHead',{title:"Home"}) %>
</head>

<body class="bg-paper-light dark:bg-background-dark">
  <div class="max-w-[600px] mx-auto bg-background-light p-4 mt-12 ">
    <%- include("../web/components/Logo")  %>
    <auth-login></auth-login>
  </div>
</body>

</html>