<!DOCTYPE html>
<html lang="en" data-class="dark">
    <head>
        <%- include('./web/components/webHead',{title:"Bienvenido"}) %>
    </head>

    <body class="bg-paper-light dark:bg-background-dark antialiased">
        <information-store />
    </body>
</html>
