    <div class="flex gap-4 lg:gap-6 flex-wrap justify-center my-12" data-aos="fade-up">
        <div
            class="bg-background-light dark:bg-paper-dark pt-3 max-w-[250px] min-w-[200px] sm:max-w-[300px] sm:min-w-[260px] flex-1 shadow-md group hover:bg-primary dark:hover:bg-primary delay-custom-1"
        >
            <div
                class="p-4 flex justify-center items-center lg:items-start flex-col gap-1 lg:gap-2"
            >
                <i
                    class="fa fa-3x fa-user-tie text-primary text-3xl lg:text-4xl group-hover:text-white"
                ></i>
                <h5
                    class="text-black group-hover:text-white dark:text-secondary-light font-vigilio-subtitle"
                >
                    Cocineros Profesionales
                </h5>
                <p
                    class="font-vigilio-p overflow-hidden group-hover:text-white text-center lg:text-start"
                >
                    Cada plato que servimos es el resultado de la pasión y la
                    dedicación de nuestros talentosos cocineros.
                </p>
            </div>
        </div>
        <div
            class="bg-background-light dark:bg-paper-dark pt-3 max-w-[250px] min-w-[200px] sm:max-w-[300px] sm:min-w-[260px] flex-1 shadow-md group hover:bg-primary dark:hover:bg-primary delay-custom-1"
        >
            <div
                class="p-4 flex justify-center items-center lg:items-start flex-col gap-1 lg:gap-2"
            >
                <i
                    class="fa fa-3x fa-utensils text-primary text-3xl lg:text-4xl group-hover:text-white"
                ></i>
                <h5
                    class="text-black group-hover:text-white dark:text-secondary-light font-vigilio-subtitle"
                >
                    Comida de Calidad
                </h5>
                <p
                    class="font-vigilio-p overflow-hidden group-hover:text-white text-center lg:text-start"
                >
                    Cada plato refleja nuestra dedicación a la calidad: desde
                    ingredientes frescos hasta presentaciones artísticas.
                </p>
            </div>
        </div>
        <div
            class="bg-background-light dark:bg-paper-dark pt-3 max-w-[250px] min-w-[200px] sm:max-w-[300px] sm:min-w-[260px] flex-1 shadow-md group hover:bg-primary dark:hover:bg-primary delay-custom-1"
        >
            <div
                class="p-4 flex justify-center items-center lg:items-start flex-col gap-1 lg:gap-2"
            >
                <i
                    class="fa fa-3x fa-cart-plus text-primary text-3xl lg:text-4xl group-hover:text-white"
                ></i>
                <h5
                    class="text-black group-hover:text-white dark:text-secondary-light font-vigilio-subtitle"
                >
                    Orden En Línea
                </h5>
                <p
                    class="font-vigilio-p overflow-hidden group-hover:text-white text-center lg:text-start"
                >
                    Ordena en línea en para sabores excepcionales y comodidad
                    insuperable. ¡Disfruta ahora!
                </p>
            </div>
        </div>
    </div>
</section>
