<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/webHead',{title:"Inicio"}) %>
</head>

<body class="bg-paper-light dark:bg-background-dark antialiased">
  <!-- header -->
  <%- include('../components/webHeader',{title:"Inicio"}) %>
  <cart class="m-12"></cart>
  <!-- footer -->
  <%- include('../components/webFooter') %>
</body>

</html>