<div
    class="bg-background-light dark:bg-paper-dark pt-3 max-w-[250px] min-w-[200px] sm:max-w-[300px] sm:min-w-[260px] flex-1 shadow-md group hover:bg-primary dark:hover:bg-primary delay-custom-1"
>
    <div
        class="p-4 flex justify-center items-center lg:items-start flex-col gap-1 lg:gap-2"
    >
        <i
            class="fa fa-3x <%= ico %> text-primary text-3xl lg:text-4xl group-hover:text-white"
        ></i>
        <h5
            class="text-black group-hover:text-white dark:text-secondary-light font-vigilio-subtitle"
        >
            <%= title %>
        </h5>
        <p
            class="font-vigilio-p overflow-hidden group-hover:text-white text-center lg:text-start"
        >
            <%= description %>
        </p>
    </div>
</div>
