<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= $information.name %> - <%= title %></title>
<meta name="description" content="framework to create web" />
<link rel="shortcut icon" href="<%= $information.logo ?
printFileWithDimension($information.logo,"information",300)[0] : '' %>" type="image/x-icon" /> <%- vite %>